language: cpp
sudo: required
dist: trusty
branches:
  only:
    - master

os:
  - linux
  - osx

env:
  - CONFIG=Release
  - CONFIG=Debug

compiler:
  - clang

before_install:
  - CMAKE_VERSION_MM=3.2
  - CMAKE_VERSION_FULL=$CMAKE_VERSION_MM.1
  - QT_VERSION_MM=55
  - QT_VERSION_FULL=55
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    sudo apt-add-repository --yes ppa:beineri/opt-qt$QT_VERSION_FULL
      && sudo apt-get update -qq
      && sudo apt-get install -qq qt${QT_VERSION_MM}base qt${QT_VERSION_MM}script qt${QT_VERSION_MM}tools
      && export CMAKE_PREFIX_PATH=/opt/qt${QT_VERSION_MM};
    fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew update;
      brew outdated cmake || brew upgrade cmake;
      brew install qt5;
      export CMAKE_PREFIX_PATH=$(brew --prefix qt5);
    fi

before_script:
   - mkdir build
   - cd build
   - cmake .. -DCMAKE_BUILD_TYPE=$CONFIG -DDISABLE_MAINTAINER_CFLAGS=off

script:
   - cmake --build . --config $CONFIG
   - ctest --output-on-failure

notifications:
  email:
    recipients:
      - dantti12@gmail.com

